Bringing-Old-Photos-Back-to-Life
.idea
checkpoints
/Bringing-Old-Photos-Back-to-Life/Face_Enhancement/models/networks/sync_batchnorm/__init__.py
/Bringing-Old-Photos-Back-to-Life/Global/detection_models/sync_batchnorm/__init__.py
/Bringing-Old-Photos-Back-to-Life/output/final_output/a.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/input_image/a.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/origin/a.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/restored_image/a.png
/Bringing-Old-Photos-Back-to-Life/output/stage_2_detection_output/a_1.png
/Bringing-Old-Photos-Back-to-Life/output/stage_3_face_output/each_img/a_1.png
/Bringing-Old-Photos-Back-to-Life/output/final_output/b.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/input_image/b.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/origin/b.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/restored_image/b.png
/Bringing-Old-Photos-Back-to-Life/Face_Enhancement/models/networks/sync_batchnorm/batchnorm.py
/Bringing-Old-Photos-Back-to-Life/Global/detection_models/sync_batchnorm/batchnorm.py
/Bringing-Old-Photos-Back-to-Life/Face_Enhancement/models/networks/sync_batchnorm/batchnorm_reimpl.py
/Bringing-Old-Photos-Back-to-Life/Global/detection_models/sync_batchnorm/batchnorm_reimpl.py
/Bringing-Old-Photos-Back-to-Life/output/final_output/c.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/input_image/c.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/origin/c.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/restored_image/c.png
/Bringing-Old-Photos-Back-to-Life/output/stage_2_detection_output/c_1.png
/Bringing-Old-Photos-Back-to-Life/output/stage_3_face_output/each_img/c_1.png
/Bringing-Old-Photos-Back-to-Life/Face_Enhancement/models/networks/sync_batchnorm/comm.py
/Bringing-Old-Photos-Back-to-Life/Global/detection_models/sync_batchnorm/comm.py
/Bringing-Old-Photos-Back-to-Life/output/final_output/d.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/input_image/d.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/origin/d.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/restored_image/d.png
/Bringing-Old-Photos-Back-to-Life/output/final_output/e.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/input_image/e.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/origin/e.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/restored_image/e.png
/Bringing-Old-Photos-Back-to-Life/output/final_output/f.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/input_image/f.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/origin/f.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/restored_image/f.png
/Bringing-Old-Photos-Back-to-Life/Face_Enhancement/face_checkpoints.zip
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/detection/FT_Epoch_latest.pt
/Bringing-Old-Photos-Back-to-Life/output/final_output/g.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/input_image/g.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/origin/g.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/restored_image/g.png
/Bringing-Old-Photos-Back-to-Life/output/stage_2_detection_output/g_1.png
/Bringing-Old-Photos-Back-to-Life/output/stage_3_face_output/each_img/g_1.png
/Bringing-Old-Photos-Back-to-Life/Global/global_checkpoints.zip
/Bringing-Old-Photos-Back-to-Life/output/final_output/h.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/input_image/h.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/origin/h.png
/Bringing-Old-Photos-Back-to-Life/output/stage_1_restore_output/restored_image/h.png
/Bringing-Old-Photos-Back-to-Life/output/stage_2_detection_output/h_1.png
/Bringing-Old-Photos-Back-to-Life/output/stage_3_face_output/each_img/h_1.png
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_Patch_Attention/latest_net_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_quality/latest_net_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_scratch/latest_net_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_A_quality/latest_net_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_B_quality/latest_net_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_B_scratch/latest_net_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_A_quality/latest_net_featD.pth
/Bringing-Old-Photos-Back-to-Life/Face_Enhancement/checkpoints/FaceSR_512/latest_net_G.pth
/Bringing-Old-Photos-Back-to-Life/Face_Enhancement/checkpoints/Setting_9_epoch_100/latest_net_G.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_A_quality/latest_net_G.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_B_quality/latest_net_G.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_B_scratch/latest_net_G.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_Patch_Attention/latest_net_mapping_net.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_quality/latest_net_mapping_net.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_scratch/latest_net_mapping_net.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_quality/latest_optimizer_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_scratch/latest_optimizer_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_A_quality/latest_optimizer_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_B_quality/latest_optimizer_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_B_scratch/latest_optimizer_D.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_A_quality/latest_optimizer_featD.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_A_quality/latest_optimizer_G.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_B_quality/latest_optimizer_G.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/VAE_B_scratch/latest_optimizer_G.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_quality/latest_optimizer_mapping_net.pth
/Bringing-Old-Photos-Back-to-Life/Global/checkpoints/restoration/mapping_scratch/latest_optimizer_mapping_net.pth
/Bringing-Old-Photos-Back-to-Life/prompt_inpainting.txt
/Bringing-Old-Photos-Back-to-Life/Face_Enhancement/models/networks/sync_batchnorm/replicate.py
/Bringing-Old-Photos-Back-to-Life/Global/detection_models/sync_batchnorm/replicate.py
/Bringing-Old-Photos-Back-to-Life/Face_Detection/shape_predictor_68_face_landmarks.dat
/Bringing-Old-Photos-Back-to-Life/Face_Enhancement/models/networks/sync_batchnorm/unittest.py
/Bringing-Old-Photos-Back-to-Life/Global/detection_models/sync_batchnorm/unittest.py
